@import "global.css";
@import "./components/header.css";
@import "./components/card.css";
@import "./components/button.css";
@import "./components/navigation.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: rgb(188, 126, 245);
  font-family: Arial, sans-serif;
  background-position: center;
  background-origin: border-box;
}
