@import "global.css";
@import "./components/header.css";
@import "./components/card.css";
@import "./components/button.css";
@import "./components/navigation.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: rgb(188, 126, 245);
  font-family: Arial, sans-serif;
  background-position: center;
  background-origin: border-box;
}

.profile {
  padding: 20px;
  text-align: center;
}

.profile-section {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.counter {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.stat-count {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-top: 2px;
}

.settings {
  text-align: left;
  margin-top: 20px;
}

.dark-mode-switch {
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.dark-mode-switch input {
  transform: scale(1.5);
}

.hidden {
  display: none;
}
