.quiz_header {
  margin-top: 10px;
  width: 100%;
  padding: 0px;
  color: blue;
  z-index: 1;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 100px brown;
  border-top: 10px;
  font-size: 1rem;
}

.quiz_title {
  text-align: center;
  padding: 0px 20px;
  border: black;
  border-radius: 10px;
}
