.quiz_footer {
  display: flex;
  padding: 0.5rem;
  bottom: 0px;
  position: sticky;
  background-color: burlywood;
  width: 100%;
  justify-content: center;
}

.quiz_nav {
  display: flex;
  gap: 70px;
  align-items: center;
}
.active img {
  filter: brightness(0.5) sepia(1) hue-rotate(180deg);
}
